# System / OS
.DS_Store
Thumbs.db

# IDEs / Editors
.metadata/
.vscode/
.idea/
.settings/
.classpath
.project


# Node / Frontend
node_modules/
dist/
build/
.env
.env.*

# Java / Backend
target/
*.log
**/*.class
